.container-main {

}
body {
  padding-bottom: 1rem;
}
.banner-sign {
  padding: .2rem;
  background: #f6f6f6;
}

.wrap {
  position: relative;
  width: 100%;
  height: 3.12rem;
  padding: .6rem 0 0 .3rem;
  border-radius: 5px;
  background: #fff;
  box-sizing: border-box;
}

.wrap .title {
  font-size: .4rem;
  font-weight: 400;
}

.wrap .self {
  padding-top: .5rem;
  font-size: .3rem;
  color: #666;
}

.wrap .price {
  position: absolute;
  right: .3rem; bottom: .35rem;
  z-index: 9;

  font-size: .42rem;
  color: #12dbd1;
}

.form-sign {
  padding: .2rem;
  border-bottom: 2px solid #f6f6f6;
  background: #fff;
}

.form-sign:last-child {
  border: none;
}

.form-sign ul {
  overflow: hidden;
}

.form-sign ul li {
  float: left;
  padding: .14rem .18rem;
  /*margin: 0 .1rem;*/
  margin-right: .1rem;
  font-size: .34rem;
  text-align: center;
  color: #333;
  border-radius: 5px;
  background: #eaeaea;
}

.form-sign ul li.active {
  color: #fff;
  background: #12dbd1;
}

.input-sign {

}

.form-sign h2 {
  padding: .2rem 0 .1rem;
  font-size: .4rem;
  font-weight: 400;
}

.form-sign .tip {
  font-size: .2rem;
  color: #E32121;
}

.input-sign {
  padding: .2rem 0 0;
}

.input-sign .input-group {
  height: .8rem;
  padding: .1rem 0;
  line-height: .8rem;
  overflow: hidden;
}

.input-group label {
  float: left;
  width: 20%;
  height: .8rem;
  font-size: .34rem;
}

.input-group input[type=text] {
  float: right;
  width: 80%;
  height: .8rem;
  padding-left: .2rem;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background: #eaeaea;
}

.input-group #code {
  float: left;
  width: 50%;
  border-radius: 5px 0 0 5px;
}
.float {
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.float .wraps {
  position: absolute;
  z-index: 9;
  left: 0; right: 0; top: 0; bottom: 0;
  height: 4rem;
  width: 6.3rem;
  margin: auto;
  padding: 0 .2rem;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
}

.float .wraps .code-group {
  padding: 0 .1rem 0;
  padding-top: .8rem;
  overflow: hidden;
}

.float .wraps .code-input {
  float: left;
  width: 3.77rem;
  height: 1rem;
  margin-right: .2rem;

}
.float .wraps .code-input input {
  width: 3.57rem;
  height: 1rem;
  padding-left: .2rem;
  /*margin-right: .2rem;*/
  border-radius: 5px;
  border: none;
  background: #eaeaea;
}
.float .wraps .code-btn {
  float: right;
  width: 2.13rem;
  height: 1rem;
}

.float .wraps .code-btn img {
  display: block;
  width: 2.13rem;
  height: 1rem;
}

.float .wraps .btn-link {
  padding: 0 .1rem 0;
  padding-top: .5rem;
  overflow: hidden;

}

.float .wraps .btn-link .canle {
  float: left;
  width: 2.8rem;
  height: 1rem;
  font-size: .36rem;
  text-align: center;
  line-height: 1rem;
  background: #d8d8d8;
  border-radius: 5px;
  letter-spacing: 8px;
}
.float .wraps .btn-link .ok {
  float: right;
  width: 2.8rem;
  height: 1rem;
  font-size: .36rem;
  text-align: center;
  line-height: 1rem;
  color: #fff;
  background: #12dbd1;
  border-radius: 5px;
  letter-spacing: 8px;
}
.input-group .code-btn {
  float: right;
  width: 30%;
  height: .8rem;
  color: #E32121;
  text-align: center;
  line-height: .8rem;
  /*border-left: 1px solid #e6e6e6;*/
  border-radius: 0 5px 5px 0;
  background: #eaeaea;
  box-sizing: border-box;
}

.input-group .radio-group {
  float: right;
  width: 80%;
  height: .8rem;
  line-height: .8rem;
}
.radio-group span {
  position: relative;
  top: 2px;
  font-size: .28rem;
}

.radio-group input {
  width: .3rem;
  height: .3rem;
  vertical-align: middle;
}

footer {
  position: fixed;
  left: 0; right: 0; bottom: 0;
  z-index: 99;
  width: 100%;
  height: 1rem;
  border-top: 1px solid #12dbd1;
  overflow: hidden;
  background: #fff;
}

footer .prices, footer .sign {
  float: left;
  width: 50%;
  height: 1rem;
}

footer .prices {
  font-size: .32rem;
  text-align: center;
  line-height: 1rem;
  color: #12dbd1;
}

footer .sign {
  font-size: .32rem;
  text-align: center;
  line-height: 1rem;
  color: #fff;
  background: #12dbd1;
}

.loading {
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.loading span {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 999;
  width: 6rem;
  height: 2rem;
  margin: auto;
  font-size: .4rem;
  text-align: center;
  line-height: 2rem;
  background: #fff;
  letter-spacing: 4px;
  border-radius: 5px;
}
